<h3>Welcome to {{user}}</h3>
<h5>This is 1st angular program. 3.06 hrs</h5>
<span>Pass value from typescript to html </span>&nbsp;&nbsp;|&nbsp;&nbsp;
<span>{{title}}</span>&nbsp;&nbsp;|&nbsp;&nbsp;
<span>Channel: {{getChannel()}}</span>&nbsp;&nbsp;|&nbsp;&nbsp;
<span>User: {{getUser()}}</span>&nbsp;&nbsp;|&nbsp;&nbsp;
<span>Variable: {{vartest}} : {{vartest.name}}, {{vartest.age}}</span>&nbsp;&nbsp;|&nbsp;&nbsp;
<span>{{50+50}}</span>&nbsp;&nbsp;|&nbsp;&nbsp;
<span>{{a+b}}</span>&nbsp;&nbsp;|&nbsp;&nbsp;
<span>{{cuurentUrl}}</span>
<h6>
    <app-login></app-login>
    <app-profile></app-profile>
    <app-register></app-register>
</h6>
<button (click)="getOtaname()">Get OTA</button>&nbsp;&nbsp;
<button (click)="getOtaname2('Welcome Uma!')">Get OTA 2</button>&nbsp;&nbsp;
<br>
Name: <input type="text" name="testuser" id="testuser" (keyup)="getValue($any($event.target).value)">&nbsp;&nbsp;|&nbsp;&nbsp;
<span>{{inpName}}</span><br>
value1: <input type="text" #num1 [value]="number1">&nbsp;&nbsp;
value2: <input type="text" #num2 [value]="number2">&nbsp;&nbsp;
<button (click)="addition(num1.value, num2.value)">Sum</button>&nbsp;&nbsp;
Addition: <span>{{sum}}</span><br>

<input type="text" (keyup)="EventHandling('Keyup event handling')" />&nbsp;&nbsp;|&nbsp;&nbsp;
<input type="text" (keyup.enter)="EventHandling('Keyup event handling')" />&nbsp;&nbsp;|&nbsp;&nbsp;
<input type="text" (keyup.space)="EventHandling('Keyup event handling')" />&nbsp;&nbsp;|&nbsp;&nbsp;
<input type="text" (blur)="EventHandling('Keyup event handling')" />&nbsp;&nbsp;|&nbsp;&nbsp;
<span style="background-color: brown;" (mouseover)="EventHandling('mouse over event')">This is span</span>&nbsp;&nbsp;|&nbsp;&nbsp;
<span style="background-color: aqua;" (mouseleave)="EventHandling('mouse leave event')">This is span</span>&nbsp;&nbsp;|&nbsp;&nbsp;
<button (click)="EventHandling('Cick event handling')">Click here</button>
<br>
<span [class]="success">This is success</span>&nbsp;&nbsp;|&nbsp;&nbsp;
<span [class]="failure">This is failure</span>&nbsp;&nbsp;|&nbsp;&nbsp;
<span [class]="underline">This is underline</span>&nbsp;&nbsp;|&nbsp;&nbsp;
<span [class]="bold">This is bold</span>&nbsp;&nbsp;|&nbsp;&nbsp;
<span [class]="multiClass">This is multi class</span>&nbsp;&nbsp;|&nbsp;&nbsp;
<span [class.hasError]="success">This is bold</span>&nbsp;&nbsp;|&nbsp;&nbsp;
<br>
<span [style.color]="'blue'">This is style color</span>&nbsp;&nbsp;|&nbsp;&nbsp;
<span [style.color]="textcolor">This is 2nd style color</span>&nbsp;&nbsp;|&nbsp;&nbsp;
<span [style]="multiSelection">This is multi style color</span>&nbsp;&nbsp;|&nbsp;&nbsp;
<br>
<span [style.color]="isError ? 'red' : 'green'">This is dynamic binding</span>&nbsp;&nbsp;|&nbsp;&nbsp;
<br>
Enter name : <input type="text" [(ngModel)]="txt" />&nbsp;&nbsp;|&nbsp;&nbsp;
<span>Name is: {{txt}}</span>
<br>
<!--If condition starts-->
<button *ngIf="HideShow" >Hide & Show</button>&nbsp;&nbsp;|&nbsp;&nbsp;
<div *ngIf="age <= 18; else elseBlock">age is less or equal than 18.</div>
<div *ngIf="age > 17; else elseBlock">age is greater than 18.</div>

<ng-template #elseBlock>
    <span>Else block is working</span>
</ng-template>
&nbsp;&nbsp;|&nbsp;&nbsp;
<!--Switch condition starts-->
<div [ngSwitch]="color">
    <h6 style="color: aqua;" *ngSwitchCase="'aqua'">Aqua</h6>
    <h6 style="color: red;" *ngSwitchCase="'red'">Red</h6>
    <h6 style="color: blue;" *ngSwitchCase="'blue'">Blue</h6>
    <h6 style="color: green;" *ngSwitchCase="'green'">Green</h6>
    <h6 style="color: yellow;" *ngSwitchCase="'yellow'">Yellow</h6>
    <h6 *ngSwitchCase="''">Default</h6>
</div>&nbsp;&nbsp;|&nbsp;&nbsp;
<!--For condition starts-->
<span>Names: </span>
<ul><li *ngFor="let data of names" >{{data}}</li></ul>

<hr>
<h2>User lists via data table</h2>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Age</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.name}}</td>
            <td>{{user.age}}</td>
        </tr>
    </tbody>
</table>

<app-products [NValue]="parentCompValue" [NUsers]="users" [NUser]="singleuser"
    (formParent)="formParent($event)"
></app-products>
<h5>Render data</h5>
<ul>
    <li>name: {{syncUsername}}</li>
    <li>age: {{syncUserage}}</li>
</ul>

<span>{{user | uppercase}}</span>&nbsp;&nbsp;|&nbsp;&nbsp;
<span>{{user | lowercase}}</span>&nbsp;&nbsp;|&nbsp;&nbsp;
<span>{{age | currency}}</span>&nbsp;&nbsp;|&nbsp;&nbsp;
<span>{{age | currency : 'INR'}}</span>&nbsp;&nbsp;|&nbsp;&nbsp;
<span>{{num | number}}</span>&nbsp;&nbsp;|&nbsp;&nbsp;
<span>{{num | number : '1.1-2'}}</span>&nbsp;&nbsp;|&nbsp;&nbsp;
<span>{{item | slice : 0-2}}</span>&nbsp;&nbsp;|&nbsp;&nbsp;
<span>{{singleuser | json}}</span>&nbsp;&nbsp;|&nbsp;&nbsp;
<br>
<span>{{value}}</span>&nbsp;&nbsp;|&nbsp;&nbsp;
<span>{{value | square}}</span>&nbsp;&nbsp;|&nbsp;&nbsp;
<br>
<span appIhdeshow>hide component</span>&nbsp;&nbsp;|&nbsp;&nbsp;
<span>show component</span>&nbsp;&nbsp;|&nbsp;&nbsp;
<br>
<table class="table">
    <thead>
        <tr>
            <th>Name</th><th>Age</th><th>Email</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of allServiceData">
            <td>{{data.name}}</td>
            <td>{{data.age}}</td>
            <td>{{data.email}}</td>
        </tr>
    </tbody>
</table>